.jumbotron {
    background-size: cover;
    background-position: center center;
  }

#title-name {
    font-size: 32px;
}

.nav-link {
    text-align: left;
}

/* .jumbotron {
    padding: 0;
} */


.about-img {
    margin: 0px 20px;
}
p {
    text-align: justify;
}

.contact-page {
    margin: 20px;
}

